<div id="<%= dom_id staff %>">
  <p>
    <strong>Firstname:</strong>
    <%= staff.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= staff.lastName %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= staff.position %>
  </p>

</div>
